@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap');

$font-family: "Noto Serif SC", "PingFang SC", "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", serif;

body {
  font-family: $font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family;
}

.navigation a,
.navigation span {
  font-family: $font-family;
}

.pagination {
  font-family: $font-family;
}

.list ul li .title {
  font-family: $font-family;
}
